<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reminders.ifreedomer.com.dancing">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".RigsterPhoneNumActivity"
            android:label="@string/title_activity_rigster_phone_num" />
        <activity android:name=".VerifyCodeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomePageActivity" />
        <!-- <activity android:name=".MeterialActivity"></activity> -->
        <activity android:name=".Main2Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
